<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>重庆移通学院</strong>
                        <span>2017 - 2021 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>大一大二在学生会担任干事与部长</p>
                        <p>获得移通学院三等奖学金</p>
                        <p>获得第八届全国数学建模二等奖</p>
                        <p>获得蓝桥杯C/C++程序设计B组三等奖</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->