<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span><strong class="text-upper">2019/3</strong> - <strong>2019/5</strong></span>
                    </time>
                    <h3>格力空调管理系统</h3>
                    <span class="education-company">商业项目 | 桌面应用</span>
                    <p>使用技术 WPF</p>
                    <p>开发工具 Visual Studio</p>
                    <p>独立完成设计与开发</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2019/12</strong> - <strong>2020/2</strong></span>
                    </time>
                    <h3>微信小程序点餐系统</h3>
                    <span class="education-company">商业项目 | 微信小程序 + 后台管理系统</span>
                    <p>前端技术：Vue.js 微信小程序</p>
                    <p>后端技术：Python Flask</p>
                    <p>数据库：MySQL</p>
                    <p>独立完成设计与开发</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->