<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div>

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/wpf.png' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">格力空调管理系统</h2>
                                <p>基于WPF的超好用Windows桌面应用</p>
                                <a href="https://github.com/MarvelFyy/GMS-3.1" class="pf-btn-view btn btn-primary">代码仓库</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/ibms.jpg' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/blog1.png' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">技术博客</h2>
                                <p>图解数据结构+算法以及一些视频教程</p>
                                <a href="https://www.zhihu.com/people/fu-yan-ying-65/posts" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/vue.png' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">点餐系统</h2>
                                <p>后台管理系统+微信小程序</p>
                                <a href="https://github.com/MarvelFyy/FlaskBackend" class="pf-btn-view btn btn-primary" target="_blank">代码仓库</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- .section -->