<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>1998年12月30日</dd>

                <dt class="text-upper">手机</dt>
                <dd>15730615013</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:751594278@qq.com" style="text-decoration: none;">751594278@qq.com</a></dd>

                <dt class="text-upper">英语</dt>
                <dd>CET-4</dd>

                <dt class="text-upper">知乎</dt>
                <dd><a href="https://www.zhihu.com/people/fu-yan-ying-65" target="_blank">善于写教程和图解编程</a></dd>

                <dt class="text-upper">B站</dt>
                <dd><a href="https://space.bilibili.com/276526520" target="_blank">分享视频教程和生活VLOG</a></dd>

                <dt class="text-upper">个人域名</dt>
                <dd><a href="http://fyy.cool" target="_blank">fyy.cool</a></dd>

            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->